/* Custom Font */
@font-face {
  font-family: "Ohmin";
  src: url("../source/Ohmin-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Tikkeul";
  src: url("../source/tikkeul-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

/* Body Styles */
body {
  padding: 0;
  margin: 0;
  background-color: #0d1235;
  overflow: hidden;
}
